body {
    font-size: 64px;
    background-color: black;
  
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  grid-template-areas: 
  "header header header header" 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "main main main main";
}
.item-header {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: rgb(39, 39, 39);
  color: rgb(235, 233, 233);
  text-align: right;
}
.btn {
  background-color: rgb(70, 67, 67);
  border: none;
  color: rgb(179, 177, 174);
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
}

}
.orange {
  background-color: orange;
}
button {
  font-size: 26px;
}